PORT=3000
DATABASE_URL=postgresql://umbc_user:postgres@127.0.0.1:5433/umbc_dev
NODE_ENV=development

# Umami Analytics
UMAMI_SITE_URL=https://go.rafifmsn.com/script.js
UMAMI_SITE_ID=272413f1-ac6c-4cfb-866d-8be6027b7aea
